*.txt
*.csv
env/*
virtual/*
alembic.ini
migrations/*
alembic/*
.idea/*
.env
log/*
__pycache__/*
src/project/__pycache__/*
errorFile.log
src/__pycache__/*
src/auth/__pycache__/*
src/aws/__pycache__/*
tests/__pycache__/*
my_env/*
